# this is an example of the Uber API
# as a demonstration of an API spec in YAML
swagger: '2.0'
info:
  title: Edavoda API
  description: Edavoda API Interface
  version: "1.0.0"
# the domain of the service
host: edavoda.kz
# array of all schemes that your API supports
schemes:
  - http
produces:
  - application/json

paths:
  !/register:
    post:
      summary: Регистрация
      parameters:
        - name: данные пользователя
          in: body
          schema:
            $ref: '#/definitions/User_for_authorization'
      responses:
        200:
          description: Успешное сохранение
        422:
          description: |
            Ошибки в валидации
            Сервер вернет следующую структуру:
            {'errors': {'name':['Поле имя обязательно для заполнения','Поле некорректно'], email: ['Email некорректен']}
        401:
          description: Нет доступа на запись
  !/login:
    post:
      summary: Авторизация
      produces:
        - application/json
      parameters:
        - name: username
          in: query
          type: string
          description: Email пользователя
          required: true
        - name: password
          in: query
          type: string
          description: Пароль
          required: true
      responses:
        200:
          description: |
            Сервер вернет следующую структуру:
            {
              "token": "NnPgly3zFncYj-yFLC-KUvqEIWV0hg2j",
              "expired": "2017-03-14T11:15:48+06:00",
            }
  /categories:
    get:
      summary: Категории
      parameters:
        - name: page
          in: query
          description: № cтраницы
          type: integer
          format: int64
          default: 1
          required: true
        - name: limit
          in: query
          description: Лимит
          type: integer
          format: int64
          default: 30
        - name: search
          in: query
          description: Поиск по параметрам (Пример запроса &search[name]=neededname&search[name]=other value)
          type: array
          items:
            type: array
            items:
              type: string
      responses:
        200:
          description: Массив Категорий
          schema:
            type: array
            items:
              $ref: '#/definitions/Category'
  /category/{id}:
    get:
      summary: Возвращает категорию по ID
      parameters:
        - name: id
          in: path
          description: ID категории
          required: true
          type: integer
          format: int64
      responses:
        200:
          description: Категория
          schema:
            $ref: '#/definitions/Category'
  /category/{id}/filters:
    get:
      summary: Фильтры
      parameters:
        - name: id
          in: path
          description: ID поставщика
          required: true
          type: integer
          format: int64
      responses:
        200:
          description: Массив фильтров
          schema:
            type: array
            items:
              $ref: '#/definitions/Category_filter'
  /brands:
    get:
      summary: Бренды
      parameters:
        - name: page
          in: query
          description: № cтраницы
          type: integer
          format: int64
          default: 1
          required: true
        - name: limit
          in: query
          description: Лимит
          type: integer
          format: int64
          default: 30
        - name: search
          in: query
          description: Поиск по параметрам (Пример запроса &search[name]=neededname&search[name]=other value)
          type: array
          items:
            type: array
            items:
              type: string
      responses:
        200:
          description: Массив Брендов
          schema:
            type: array
            items:
              $ref: '#/definitions/Brand'
  /provisioners:
    get:
      summary: Поставщики
      parameters:
        - name: page
          in: query
          description: № cтраницы
          type: integer
          format: int64
          default: 1
          required: true
        - name: limit
          in: query
          description: Лимит
          type: integer
          format: int64
          default: 30
        - name: search
          in: query
          description: Поиск по параметрам (Пример запроса &search[name]=neededname&search[name]=other value)
          type: array
          items:
            type: array
            items:
              type: string
      responses:
        200:
          description: Массив Поставщиков
          schema:
            type: array
            items:
              $ref: '#/definitions/Provisioner'
  /provisioner/{id}:
    get:
      summary: Просмотр информации о поставщике с ID
      parameters:
        - name: id
          in: path
          description: ID поставщика
          required: true
          type: integer
          format: int64
      responses:
        200:
          description: Поставщик
          schema:
            $ref: '#/definitions/Provisioner'
  /provisioner/{id}/review:
    get:
      summary: Просмотр отзывов о поставщике с ID
      parameters:
        - name: id
          in: path
          description: ID поставщика
          required: true
          type: integer
          format: int64
      responses:
        200:
          description: Массив отзывов
          schema:
            type: array
            items:
              $ref: '#/definitions/Review'
  /provisioner/{id}/create_complaint:
    post:
      summary: Добавление жалобы на поставщика
      parameters:
        - name: id
          in: path
          description: ID поставщика
          required: true
          type: integer
          format: int64
        - name: complaint_message
          in: body
          description: ИНформация о жалобе на поставщика
          required: true
          schema:
            $ref: '#/definitions/Complaint_message'
      responses:
        200:
          description: product response
          schema:
            $ref: '#/definitions/Complaint_message'
  /products:
    get:
      summary: Товары
      parameters:
        - name: filter
          in: query
          description: Фильтр по параметрам (Пример запроса &filter[name]=neededname&filter[name]=other value)
          type: array
          items:
            type: array
            items:
              type: string
        - name: page
          in: query
          description: № cтраницы
          type: integer
          format: int64
          default: 1
          required: true
        - name: limit
          in: query
          description: Лимит
          type: integer
          format: int64
          default: 30
        - name: search
          in: query
          description: Поиск по параметрам (Пример запроса &search[name]=neededname&search[name]=other value)
          type: array
          items:
            type: array
            items:
              type: string
      responses:
        200:
          description: Массив Товаров
          schema:
            type: array
            items:
              $ref: '#/definitions/Product'
    post:
      summary: Создание продукта
      parameters:
        - name: product
          in: body
          description: Информация о продукте
          required: true
          schema:
            $ref: '#/definitions/Product'
      responses:
        200:
          description: product response
          schema:
            $ref: '#/definitions/Product'
  /product/{id}:
    get:
      summary: Возвращает продукт по ID
      parameters:
        - name: id
          in: path
          description: ID продукта
          required: true
          type: integer
          format: int64
      responses:
        200:
          description: Продукт
          schema:
            $ref: '#/definitions/Product'
    post:
      summary: Редактирование продукта
      parameters:
        - name: id
          in: path
          description: ID продукта
          required: true
          type: integer
          format: int64
        - name: product
          in: body
          description: ИНформация о продукте
          required: true
          schema:
            $ref: '#/definitions/Product'
      responses:
        200:
          description: product response
          schema:
            $ref: '#/definitions/Product'
  /product/{id}/create_error_message:
    post:
      summary: Добавление информации об ошибке
      parameters:
        - name: id
          in: path
          description: ID поставщика
          required: true
          type: integer
          format: int64
        - name: error_message
          in: body
          description: ИНформация об ошибке
          required: true
          schema:
            $ref: '#/definitions/Error_message'
      responses:
        200:
          description: product response
          schema:
            $ref: '#/definitions/Error_message'
  /price_categories:
    get:
      summary: Категории цен
      responses:
        200:
          description: Массив категорий цен
          schema:
            type: array
            items:
              $ref: '#/definitions/Price_category'
  /orders:
    get:
      summary: Заказы
      parameters:
        - name: filter
          in: query
          description: Фильтр по параметрам (Пример запроса &filter[name]=neededname&filter[name]=other value)
          type: array
          items:
            type: array
            items:
              type: string
        - name: page
          in: query
          description: № cтраницы
          type: integer
          format: int64
          default: 1
          required: true
        - name: limit
          in: query
          description: Лимит
          type: integer
          format: int64
          default: 30
        - name: search
          in: query
          description: Поиск по параметрам (Пример запроса &search[name]=neededname&search[name]=other value)
          type: array
          items:
            type: array
            items:
              type: string
      responses:
        200:
          description: Массив заказов
          schema:
            type: array
            items:
              $ref: '#/definitions/Settings_item'
  /orders/count:
    get:
      summary: Количество заказов
      parameters:
        - name: filter
          in: query
          description: tags to filter by
          required: false
          type: array
          collectionFormat: csv
          items:
            type: string
      responses:
        200:
          description: Количество заказов
          schema:
            type: integer
  /order/{id}:
    get:
      summary: Возвращает заказ по ID
      parameters:
        - name: id
          in: path
          description: ID заказа
          required: true
          type: integer
          format: int64
      responses:
        200:
          description: order response
          schema:
            $ref: '#/definitions/Order'
    post:
      summary: Редактирование заказа
      parameters:
        - name: id
          in: path
          description: ID заказа
          required: true
          type: integer
          format: int64
        - name: order
          in: body
          description: ИНформация о заказе
          required: true
          schema:
            $ref: '#/definitions/Order'
      responses:
        200:
          description: order response
          schema:
            $ref: '#/definitions/Order'
  /articles:
    get:
      summary: Список страниц
      parameters:
        - name: filter
          in: query
          description: Фильтр по параметрам (Пример запроса &filter[name]=neededname&filter[name]=other value)
          type: array
          items:
            type: array
            items:
              type: string
        - name: page
          in: query
          description: № cтраницы
          type: integer
          format: int64
          default: 1
          required: true
        - name: limit
          in: query
          description: Лимит
          type: integer
          format: int64
          default: 30
        - name: search
          in: query
          description: Поиск по параметрам (Пример запроса &search[name]=neededname&search[name]=other value)
          type: array
          items:
            type: array
            items:
              type: string
      responses:
        200:
          description: Массив страниц
          schema:
            type: array
            items:
              $ref: '#/definitions/Article'
  /article/{id}:
    get:
      summary: Возвращает страницу по ID
      parameters:
        - name: id
          in: path
          description: ID страницы
          required: true
          type: integer
          format: int64
      responses:
        200:
          description: article response
          schema:
            $ref: '#/definitions/Article'
  /faqs:
    get:
      summary: Список страниц FAQ
      parameters:
        - name: filter
          in: query
          description: Фильтр по параметрам (Пример запроса &filter[name]=neededname&filter[name]=other value)
          type: array
          items:
            type: array
            items:
              type: string
        - name: page
          in: query
          description: № cтраницы
          type: integer
          format: int64
          default: 1
          required: true
        - name: limit
          in: query
          description: Лимит
          type: integer
          format: int64
          default: 30
        - name: search
          in: query
          description: Поиск по параметрам (Пример запроса &search[name]=neededname&search[name]=other value)
          type: array
          items:
            type: array
            items:
              type: string
      responses:
        200:
          description: Массив страниц FAQ
          schema:
            type: array
            items:
              $ref: '#/definitions/FAQ_page'
  /faq/{id}:
    get:
      summary: Возвращает страницу по ID
      parameters:
        - name: id
          in: path
          description: ID страницы FAQ
          required: true
          type: integer
          format: int64
      responses:
        200:
          description: faq page response
          schema:
            $ref: '#/definitions/FAQ_page'
  /news:
    get:
      summary: Список новостей
      parameters:
        - name: filter
          in: query
          description: Фильтр по параметрам (Пример запроса &filter[name]=neededname&filter[name]=other value)
          type: array
          items:
            type: array
            items:
              type: string
        - name: page
          in: query
          description: № cтраницы
          type: integer
          format: int64
          default: 1
          required: true
        - name: limit
          in: query
          description: Лимит
          type: integer
          format: int64
          default: 30
        - name: search
          in: query
          description: Поиск по параметрам (Пример запроса &search[name]=neededname&search[name]=other value)
          type: array
          items:
            type: array
            items:
              type: string
      responses:
        200:
          description: Массив новостей
          schema:
            type: array
            items:
              $ref: '#/definitions/News_page'
  /news/{id}:
    get:
      summary: Возвращает страницу по ID
      parameters:
        - name: id
          in: path
          description: ID страницы FAQ
          required: true
          type: integer
          format: int64
      responses:
        200:
          description: news page response
          schema:
            $ref: '#/definitions/News_page'
  /dialogs:
    get:
      summary: Диалоги
      parameters:
        - name: page
          in: query
          description: № cтраницы
          type: integer
          format: int64
          default: 1
          required: true
        - name: limit
          in: query
          description: Лимит
          type: integer
          format: int64
          default: 30
        - name: search
          in: query
          description: Поиск по параметрам (Пример запроса &search[name]=neededname&search[name]=other value)
          type: array
          items:
            type: array
            items:
              type: string
      responses:
        200:
          description: Массив диалогов
          schema:
            type: array
            items:
              $ref: '#/definitions/Dialog'
  /dialogs/necessary_product:
    post:
      summary: Отправка сообщения всем поставщикам о недостающем товаре
      parameters:
        - name: message
          in: body
          description: ИНформация о сообщении
          required: true
          schema:
            $ref: '#/definitions/Message'
      responses:
        200:
          description: product response
          schema:
            $ref: '#/definitions/Message'
  /dialogs/unread_messages_count:
    get:
      summary: Количество всех непрочитанных сообщений
      responses:
        200:
          description: Количество всех непрочитанных сообщений
          schema:
            type: integer
  /dialogs/{id}:
    get:
      summary: Просмотр сообщений в диалоге с ID
      parameters:
        - name: id
          in: path
          description: ID диалога
          required: true
          type: integer
          format: int64
      responses:
        200:
          description: массив сообщений
          schema:
            $ref: '#/definitions/Message'
    post:
      summary: Отправка сообщения
      parameters:
        - name: id
          in: path
          description: ID диалога
          required: true
          type: integer
          format: int64
        - name: message
          in: body
          description: ИНформация о сообщении
          required: true
          schema:
            $ref: '#/definitions/Message'
      responses:
        200:
          description: product response
          schema:
            $ref: '#/definitions/Message'
  /dialogs/{id}/unread_messages_count:
    get:
      summary: Количество непрочитанных сообщений в диалоге с ID
      parameters:
        - name: id
          in: path
          description: ID диалога
          required: true
          type: integer
          format: int64
        - name: filter
          in: query
          description: tags to filter by
          required: false
          type: array
          collectionFormat: csv
          items:
            type: string
      responses:
        200:
          description: Количество непрочитанных сообщений в диалоге с ID
          schema:
            type: integer
  /dialogs/create_with_provisioner:
    post:
      summary: Отправка сообщения
      parameters:
        - name: message
          in: body
          description: ИНформация о сообщении
          required: true
          schema:
            $ref: '#/definitions/Message'
      responses:
        200:
          description: product response
          schema:
            $ref: '#/definitions/Message'
  /shops:
    get:
      summary: Магазины
      parameters:
        - name: filter
          in: query
          description: Фильтр по параметрам (Пример запроса &filter[name]=neededname&filter[name]=other value)
          type: array
          items:
            type: array
            items:
              type: string
        - name: page
          in: query
          description: № cтраницы
          type: integer
          format: int64
          default: 1
          required: true
        - name: limit
          in: query
          description: Лимит
          type: integer
          format: int64
          default: 30
        - name: search
          in: query
          description: Поиск по параметрам (Пример запроса &search[name]=neededname&search[name]=other value)
          type: array
          items:
            type: array
            items:
              type: string
      responses:
        200:
          description: Массив магазинов
          schema:
            type: array
            items:
              $ref: '#/definitions/Shop'
  /shop/{id}:
    get:
      summary: Просмотр информации о магазине с ID
      parameters:
        - name: id
          in: path
          description: ID магазина
          required: true
          type: integer
          format: int64
      responses:
        200:
          description: Магазин
          schema:
            $ref: '#/definitions/Shop'
  /actions:
    get:
      summary: Акции
      parameters:
        - name: filter
          in: query
          description: Фильтр по параметрам (Пример запроса &filter[name]=neededname&filter[name]=other value)
          type: array
          items:
            type: array
            items:
              type: string
        - name: page
          in: query
          description: № cтраницы
          type: integer
          format: int64
          default: 1
          required: true
        - name: limit
          in: query
          description: Лимит
          type: integer
          format: int64
          default: 30
        - name: search
          in: query
          description: Поиск по параметрам (Пример запроса &search[name]=neededname&search[name]=other value)
          type: array
          items:
            type: array
            items:
              type: string
      responses:
        200:
          description: Массив акций
          schema:
            type: array
            items:
              $ref: '#/definitions/Action'
  /actions/count:
    get:
      summary: Акции
      parameters:
        - name: page
          in: query
          description: № cтраницы
          type: integer
          format: int64
          default: 1
          required: true
        - name: limit
          in: query
          description: Лимит
          type: integer
          format: int64
          default: 30
        - name: search
          in: query
          description: Поиск по параметрам (Пример запроса &search[name]=neededname&search[name]=other value)
          type: array
          items:
            type: array
            items:
              type: string
      responses:
        200:
          description: Количество акций
          schema:
            type: integer
  /action/{id}:
    get:
      summary: Просмотр информации о акции с ID
      parameters:
        - name: id
          in: path
          description: ID акции
          required: true
          type: integer
          format: int64
      responses:
        200:
          description: акция
          schema:
            $ref: '#/definitions/Action'
    post:
      summary: Редактирование акции
      parameters:
        - name: id
          in: path
          description: ID акции
          required: true
          type: integer
          format: int64
        - name: product
          in: body
          description: ИНформация о акции
          required: true
          schema:
            $ref: '#/definitions/Action'
      responses:
        200:
          description: Action response
          schema:
            $ref: '#/definitions/Action'
  /error_messages:
    get:
      summary: Ошибки в товарах
      parameters:
        - name: page
          in: query
          description: № cтраницы
          type: integer
          format: int64
          default: 1
          required: true
        - name: limit
          in: query
          description: Лимит
          type: integer
          format: int64
          default: 30
        - name: search
          in: query
          description: Поиск по параметрам (Пример запроса &search[name]=neededname&search[name]=other value)
          type: array
          items:
            type: array
            items:
              type: string
      responses:
        200:
          description: Массив магазинов
          schema:
            type: array
            items:
              $ref: '#/definitions/Shop'
  /error_messages/count:
    get:
      summary: Акции
      parameters:
        - name: page
          in: query
          description: № cтраницы
          type: integer
          format: int64
          default: 1
          required: true
        - name: limit
          in: query
          description: Лимит
          type: integer
          format: int64
          default: 30
        - name: search
          in: query
          description: Поиск по параметрам (Пример запроса &search[name]=neededname&search[name]=other value)
          type: array
          items:
            type: array
            items:
              type: string
      responses:
        200:
          description: Количество акций
          schema:
            type: integer
  !/orders:
    get:
      summary: Заказы
      parameters:
        - name: page
          in: query
          description: № cтраницы
          type: integer
          format: int64
          default: 1
          required: true
        - name: limit
          in: query
          description: Лимит
          type: integer
          format: int64
          default: 30
        - name: search
          in: query
          description: Поиск по параметрам (Пример запроса &search[name]=neededname&search[name]=other value)
          type: array
          items:
            type: array
            items:
              type: string
      responses:
        200:
          description: Массив заказов
          schema:
            type: array
            items:
              $ref: '#/definitions/Order'
  !/order/{$id}/change_status:
    post:
      summary: Смена статуса заказа
      parameters:
        - name: status
          in: query
          description: Новый статус
          type: integer
          required: true
      responses:
        200:
          description: Успешное изменение
  !/order/{$id}/change_date:
    post:
      summary: Смена даты поставки
      parameters:
        - name: status
          in: query
          description: Новая дата
          type: date
          required: true
      responses:
        200:
          description: Успешное изменение
  !/order/{$id}/comments:
    get:
      summary: Комментарии к заказу
      parameters:
        - name: page
          in: query
          description: № cтраницы
          type: integer
          format: int64
          default: 1
          required: true
        - name: limit
          in: query
          description: Лимит
          type: integer
          format: int64
          default: 30
        - name: search
          in: query
          description: Поиск по параметрам (Пример запроса &search[name]=neededname&search[name]=other value)
          type: array
          items:
            type: array
            items:
              type: string
      responses:
        200:
          description: Массив комментариев
          schema:
            type: array
            items:
              $ref: '#/definitions/Order_comment'
  !/order/{$id}/new_comment:
    post:
      summary: Добавление комментария
      parameters:
        - name: comment
          in: query
          description: Комментарий
          type: string
          required: true
      responses:
        200:
          description: Успешное добавление комментария
  !/order/{$id}/products:
    get:
      summary: Продукты в заказах
      parameters:
        - name: page
          in: query
          description: № cтраницы
          type: integer
          format: int64
          default: 1
          required: true
        - name: limit
          in: query
          description: Лимит
          type: integer
          format: int64
          default: 30
        - name: search
          in: query
          description: Поиск по параметрам (Пример запроса &search[name]=neededname&search[name]=other value)
          type: array
          items:
            type: array
            items:
              type: string
      responses:
        200:
          description: Массив связей заказа с продуктом
          schema:
            type: array
            items:
              $ref: '#/definitions/Order_product'
  !/order_product/{$id}/remove:
    delete:
      summary: Удаление связи
      parameters:
        - name: count
          in: query
          description: Новое количество
          type: date
          required: true
      responses:
        200:
          description: Успешное удаление
  !/order_product/{$id}/update_count:
    post:
      summary: Удаление связи
      responses:
        200:
          description: Успешное удаление
  !/profile:
    get:
      summary: Профиль пользователя
      responses:
        200:
          description: получение информации
          schema:
            $ref: '#/definitions/Profile'
    post:
      summary: Редактирование профиля
      parameters:
        - name: profile
          in: body
          description: ИНформация о профиле
          required: true
          schema:
            $ref: '#/definitions/Profile'
      responses:
        200:
          description: product response
          schema:
            $ref: '#/definitions/Profile'
  /statistic:
    get:
      summary: Статистика
      parameters:
        - name: filter
          in: query
          description: tags to filter by
          required: false
          type: array
          collectionFormat: csv
          items:
            type: string
      responses:
        200:
          description: Статистика
          schema:
            $ref: '#/definitions/Statistic'

definitions:
  Product:
    type: object
    properties:
      id:
        type: integer
        description: Уникальный ID
      sku:
        type: string
        description: Артикул продукта
      title:
        type: string
        description: Название
      category_id:
        type: integer
        description: ID категории
      brand_id:
        type: integer
        description: ID бренда
      is_in_stop_list:
        type: integer
        description: Нахождение в стоп-листе
      filter_values:
        type: array
        items:
          type: object
        description: Опции фильтрации
      description:
        type: string
        description: Описание
      photos:
        type: array
        items:
          type: object
        description: Фотографии
      prices:
        type: array
        items:
          $ref: '#/definitions/Price_item'
  Settings_item:
    type: object
    properties:
      id:
        type: integer
        description: Уникальный ID
      key:
        type: string
        description: Unique identifier representing a specific product for a given latitude & longitude. For example, uberX in San Francisco will have a different product_id than uberX in Los Angeles.
      value:
        type: string
        description: Description of product.
  Price_category:
    type: object
    properties:
      id:
        type: integer
        description: Уникальный ID
      name:
        type: string
        description: Название категория цен
  Price_item:
    type: object
    properties:
      id:
        type: integer
        description: Уникальный ID
      price_category_id:
        type: integer
        description: Категория цен
      price:
        type: string
        description: Цена
  Category:
    type: object
    properties:
      id:
        type: integer
        description: Уникальный ID
      title:
        type: string
        description: Название
      parent_id:
        type: integer
        description: ID категории
      image:
        type: string
        description: Image URL representing the product.
      filters:
        type: array
        items:
          type: object
  Category_filter:
    type: object
    properties:
      id:
        type: integer
        description: Уникальный ID
      title:
        type: string
        description: Название
  Brand:
    type: object
    properties:
      id:
        type: integer
        description: Уникальный ID
      title:
        type: string
        description: Название
      image:
        type: string
        description: Image URL representing the product.
  Article:
    type: object
    properties:
      id:
        type: integer
        description: Уникальный ID
      created_at:
        type: integer
        description: Дата
      title:
        type: string
        description: Название
      description:
        type: string
        description: Описание
      text:
        type: string
        description: Текст
  FAQ_page:
    type: object
    properties:
      id:
        type: integer
        description: Уникальный ID
      title:
        type: string
        description: Название
      text:
        type: string
        description: Текст
  News_page:
    type: object
    properties:
      id:
        type: integer
        description: Уникальный ID
      created_at:
        type: integer
        description: Дата
      title:
        type: string
        description: Название
      description:
        type: string
        description: Описание
      text:
        type: string
        description: Текст
  Dialog:
    type: object
    properties:
      id:
        type: integer
        description: Уникальный ID
      created_at:
        type: integer
        description: Дата создания
  Action:
    type: object
    properties:
      id:
        type: integer
        description: Уникальный ID
      title:
        type: string
        description: Название
      description:
        type: string
        description: Описание акции
  Message:
    type: object
    properties:
      id:
        type: integer
        description: Уникальный ID
      created_at:
        type: integer
        description: Дата создания
      dialog_id:
        type: integer
        description: ID диалога
      message:
        type: string
        description: Текст сообщения
  Shop:
    type: object
    properties:
      id:
        type: integer
        description: Уникальный ID
      created_at:
        type: integer
        description: Дата создания
      phone:
        type: string
        description: Телефон
      title:
        type: string
        description: Название магазина
      address:
        type: string
        description: Адрес
      skype:
        type: string
        description: skype
      email:
        type: string
        description: Email
      text:
        type: string
        description: Описание магазина
      latitude:
        type: integer
        description: Широта карты
      longitude:
        type: integer
        description: Долгота карты
      zoom:
        type: integer
        description: Долгота карты
      owner_id:
        type: integer
        description: ID владельца
  Error_message:
    type: object
    properties:
      id:
        type: integer
        description: Уникальный ID
      sender_id:
        type: integer
        description: ID отправителя
      text:
        type: string
        description: Текст сообщения
      product_id:
        type: integer
        description: ID продукта у которого ошибка
  Delivery:
    type: object
    properties:
      id:
        type: integer
        description: Уникальный ID
  Delivery_product:
    type: object
    properties:
      id:
        type: integer
        description: Уникальный ID
      delivery_id:
        type: string
        description: ID сущности доставки
      product_id:
        type: string
        description: ID продукта
      count:
        type: string
        description: Количество
  Complaint_message:
    type: object
    properties:
      id:
        type: integer
        description: Уникальный ID
      sender_id:
        type: integer
        description: ID отправителя
      shop_id:
        type: integer
        description: ID магазина
  Statistic:
    type: object
    properties:
      id:
        type: integer
        description: Уникальный ID
  Provisioner:
    type: object
    properties:
      id:
        type: integer
        description: Уникальный ID
      title:
        type: string
        description: Название организации
      phone:
        type: string
        description: Телефон
      email:
        type: string
        description: Email
      password:
        type: string
        description: Пароль
  Review:
    type: object
    properties:
      id:
        type: integer
        description: Уникальный ID
      name:
        type: string
        description: Имя отправителя
      sender_id:
        type: string
        description: ID отправителя
      shop_id:
        type: string
        description: ID Магазина
  !Order:
    type: object
    properties:
      id:
        type: integer
        description: Уникальный ID
      producer_id:
        type: integer
        description: ID поставщика
      specialization_producer_id:
        type: integer
        description: ID подразделения поставщика
      shop_id:
        type: integer
        description: ID магазина
      specialization_shop_id:
        type: integer
        description: ID торговой точки
      status:
        type: integer
        description: Статус заказа в целочисленом виде (Новый, В работе, Выполнен, Отменен)
      shop_information:
        type: integer
        description: Информация о поставщике
      shop_information:
        type: integer
        description: Информация о магазине
      price:
        type: integer
        description: Сумма заказа
      order date:
        type: date-time
        description: Дата заказа
      date_of_delivery:
        type: date
        description: Дата поставки
  !Order_product:
    type: object
    description: Товар в заказе
    properties:
      id:
        type: integer
        description: Уникальный ID
      order_id:
        type: string
        description: ID заказа
      product_id:
        type: string
        description: ID продукта
      count:
        type: string
        description: Количество
      price:
        type: integer
        description: Цена
  !Order_comment:
    type: object
    description: Комментарий к заказу
    properties:
      id:
        type: integer
        description: Уникальный ID
      user_name:
        type: string
        description: Имя отправителя
      count:
        type: string
        description: Количество
      price:
        type: integer
        description: Цена
  !Profile:
    type: object
    properties:
      id:
        type: integer
        description: Уникальный ID
      image:
        type: string
        description: Изображение
      balance:
        type: integer
        description: Баланс
      username:
        type: string
        description: Username
      specializations-producer:
        type: array
        description: |
          Подразделение для поставщика
          Массив вида:
          [
            {
              'id': 1,
              'name': 'asd'
            },
            {
              'id': 2,
              'name': 'asd2'
            }
          ]
      specializations-shop:
        type: array
        description: |
          Подразделение для магазина
          Массив вида:
          [
            {
              'id': 1,
              'name': 'asd'
            },
            {
              'id': 2,
              'name': 'asd2'
            }
          ]
      position_id:
        type: integer
        description: Должность
      iin:
        type: string
        description: ИИН
      fio:
        type: string
        description: ФИО Рукводителя
      mobile_phone:
        type: string
        description: Мобильный телефон
      work_phone:
        type: string
        description: Рабочий телефон
      comments:
        type: string
        description: Комментарий
      email:
        type: string
        description: Email
      address:
        type: string
        description: Адрес
  !User_for_authorization:
    type: object
    properties:
      role:
        type: integer
        description: Роль
      type:
        type: integer
        description: Тип
      name:
        type: string
        description: Наименование
      password:
        type: string
        description: Пароль
      email:
        type: string
        description: Email
      fio:
        type: string
        description: ФИО
      iin:
        type: string
        description: ИИН
      mobile_phone:
        type: string
        description: Мобильный телефон
      work_phone:
        type: string
        description: Рабочий телефон
      comment:
        type: string
        description: Комментарий
      address:
        type: string
        description: Адрес
      latitude:
        type: integer
        description: Широта
      longitude:
        type: integer
        description: Долгота

#  10. Служба поддержки
#  11. Жалобы и предложения
#  16. Команда
#  16.1 Получение списка работников
#  16.2 Получение информации о работнике
#  17. Точки
#  17.1 Получение списка точек
#  18. Пополнение баланса
#  19. Смена плана
#  20. История платежей