# this is an example of the Uber API
# as a demonstration of an API spec in YAML
swagger: '2.0'
info:
  title: Edavoda API
  description: Edavoda API Interface
  version: "1.0.0"
# the domain of the service
host: edavoda.kz
# array of all schemes that your API supports
schemes:
  - http
produces:
  - application/json

paths:
  /register:
    post:
      summary: Регистрация
      parameters:
        - name: данные пользователя
          in: body
          schema:
            $ref: '#/definitions/User_for_authorization'
      responses:
        200:
          description: Успешное сохранение
        422:
          description: |
            Ошибки в валидации
            Сервер вернет следующую структуру:
            {'errors': {'name':['Поле имя обязательно для заполнения','Поле некорректно'], email: ['Email некорректен']}
        401:
          description: Нет доступа на запись
  /login:
    post:
      summary: Авторизация
      produces:
        - application/json
      parameters:
        - name: username
          in: formData
          type: string
          description: Email пользователя
          required: true
        - name: password
          in: formData
          type: string
          description: Пароль
          required: true
      responses:
        200:
          description: |
            Сервер вернет следующую структуру:
            {
              "token": "NnPgly3zFncYj-yFLC-KUvqEIWV0hg2j",
              "role": "1", // Тип пользователя (Поставщик, магазин)
              "shop_id": "", // ID магазина (Если есть)
              "producer_id": "", // ID поставщика (Если есть)
              "expired": "2017-03-14T11:15:48+06:00",
            }
  /categories:
    get:
      summary: Категории
      parameters:
        - name: page
          in: query
          description: № cтраницы
          type: integer
          format: int64
          default: 1
          required: true
        - name: limit
          in: query
          description: Лимит
          type: integer
          format: int64
          default: 30
        - name: search
          in: query
          description: Поиск по параметрам (Пример запроса &search[name]=neededname&search[name]=other value)
          type: array
          items:
            type: array
            items:
              type: string
      responses:
        200:
          description: Массив Категорий
          schema:
            type: array
            items:
              $ref: '#/definitions/Category'
  /brands:
    get:
      summary: Бренды
      parameters:
        - name: page
          in: query
          description: № cтраницы
          type: integer
          format: int64
          default: 1
          required: true
        - name: limit
          in: query
          description: Лимит
          type: integer
          format: int64
          default: 30
        - name: search
          in: query
          description: Поиск по параметрам (Пример запроса &search[name]=neededname&search[name]=other value)
          type: array
          items:
            type: array
            items:
              type: string
      responses:
        200:
          description: Массив Брендов
          schema:
            type: array
            items:
              $ref: '#/definitions/Payment_method'
  /payment_methods:
    get:
      summary: Методы оплаты
      parameters:
        - name: page
          in: query
          description: № cтраницы
          type: integer
          format: int64
          default: 1
          required: true
        - name: limit
          in: query
          description: Лимит
          type: integer
          format: int64
          default: 30
        - name: search
          in: query
          description: Поиск по параметрам (Пример запроса &search[name]=neededname&search[name]=other value)
          type: array
          items:
            type: array
            items:
              type: string
      responses:
        200:
          description: Массив Брендов
          schema:
            type: array
            items:
              $ref: '#/definitions/Brand'
  /provisioners:
    get:
      summary: Поставщики
      parameters:
        - name: page
          in: query
          description: № cтраницы
          type: integer
          format: int64
          default: 1
          required: true
        - name: limit
          in: query
          description: Лимит
          type: integer
          format: int64
          default: 30
        - name: search
          in: query
          description: Поиск по параметрам (Пример запроса &search[name]=neededname&search[name]=other value)
          type: array
          items:
            type: array
            items:
              type: string
      responses:
        200:
          description: Массив Поставщиков
          schema:
            type: array
            items:
              $ref: '#/definitions/Specialization_producer'
  /favorite_products:
    get:
      summary: ID избранных товаров
      parameters:
        - name: page
          in: query
          description: № cтраницы
          type: integer
          format: int64
          default: 1
          required: true
        - name: limit
          in: query
          description: Лимит
          type: integer
          format: int64
          default: 30
        - name: search
          in: query
          description: Поиск по параметрам (Пример запроса &search[name]=neededname&search[name]=other value)
          type: array
          items:
            type: array
            items:
              type: string
      responses:
        200:
          description: Массив ID избранных товаров
          schema:
            type: array
            items:
              type: integer
              description: ID товара
    post:
      summary: Добавление продукта в избранное
      parameters:
        - name: product_id
          in: formData
          description: ID продукта
          type: integer
          required: true
      responses:
        200:
          description: Успешная операция
    delete:
      summary: Удаление продукта из избранного
      parameters:
        - name: product_id
          in: formData
          description: ID продукта
          type: integer
          required: true
      responses:
        200:
          description: Успешная операция
  /products:
    get:
      summary: Товары
      parameters:
        - name: page
          in: query
          description: № cтраницы
          type: integer
          format: int64
          default: 1
          required: true
        - name: limit
          in: query
          description: Лимит
          type: integer
          format: int64
          default: 30
        - name: search
          in: query
          description: Поиск по параметрам (Пример запроса &search[name]=neededname&search[name]=other value). Также есть параметры min_update_time и max_update_time
          type: array
          items:
            type: array
            items:
              type: string
      responses:
        200:
          description: Массив Товаров
          schema:
            type: array
            items:
              $ref: '#/definitions/Product'
    post:
      summary: Создание продукта
      consumes:
        - multipart/form-data  # and/or application/x-www-form-urlencoded
      parameters:
        - name: product
          in: formData
          description: |
            Информация о продукте в виде следующего json объекта:
            {
              "sku": 010101,
              "title": "iPhone 7",
              "category_id": 189,
              "brand_id": 12,
              "description": "Описание",
              "attributes": [
                {
                  "product_attribute_type_id": 34,
                  "value": "12"
                },
                {
                  "product_attribute_type_id": 35,
                  "value": "4.7"
                }
              ],
              "prices": [
                {
                  "price_category_id": 1,
                  "price": 280000
                },
                {
                  "price_category_id": 2,
                  "price": 285000
                },
                {
                  "price_category_id": 3,
                  "price": 300000
                }
              ]
            }
          required: true
          type: string
        - name: image
          in: formData
          description: Изображение продукта
          required: true
          type: file
      responses:
        200:
          description: Успешное сохранение
        422:
          description: |
            Ошибки в валидации
            Сервер вернет следующую структуру:
            {'errors': {'name':['Поле имя обязательно для заполнения','Поле некорректно'], email: ['Email некорректен']}
        401:
          description: Нет доступа на запись
  /filters:
    get:
      summary: Все атрибуты товаров. Используются в том числе, для фильтров в категориях
      parameters:
        - name: page
          in: query
          description: № cтраницы
          type: integer
          format: int64
          default: 1
          required: true
        - name: limit
          in: query
          description: Лимит
          type: integer
          format: int64
          default: 30
        - name: search
          in: query
          description: Поиск по параметрам (Пример запроса &search[name]=neededname&search[name]=other value). Также есть параметры min_update_time и max_update_time
          type: array
          items:
            type: array
            items:
              type: string
      responses:
        200:
          description: Массив атрибутов
          schema:
            type: array
            items:
              $ref: '#/definitions/Filter_item'
  /product/{id}:
    post:
      summary: Редактирование продукта
      parameters:
        - name: id
          in: path
          description: ID продукта
          required: true
          type: integer
          format: int64
        - name: product
          in: body
          description: ИНформация о продукте
          required: true
          schema:
            $ref: '#/definitions/Product'
      responses:
        200:
          description: Успешное сохранение
        422:
          description: |
            Ошибки в валидации
            Сервер вернет следующую структуру:
            {'errors': {'name':['Поле имя обязательно для заполнения','Поле некорректно'], email: ['Email некорректен']}
        401:
          description: Нет доступа на запись
  /product/{id}/change_image:
    post:
      consumes:
        - multipart/form-data  # and/or application/x-www-form-urlencoded
      summary: Изменение изображения товара
      parameters:
        - name: id
          in: path
          description: ID товара
          required: true
          type: integer
          format: int64
        - name: error_message
          in: formData
          type: file
          description: Изображение
          required: true
      responses:
        200:
          description: Успешное сохранение
        422:
          description: |
            Ошибки в валидации
            Сервер вернет следующую структуру:
            {'errors': {'name':['Поле имя обязательно для заполнения','Поле некорректно'], email: ['Email некорректен']}
        401:
          description: Нет доступа на запись
  /product/{id}/create_error_message:
    post:
      summary: Добавление информации об ошибке
      parameters:
        - name: id
          in: path
          description: ID поставщика
          required: true
          type: integer
          format: int64
        - name: error_message
          in: body
          description: ИНформация об ошибке
          required: true
          schema:
            $ref: '#/definitions/Message'
      responses:
        200:
          description: Успешное сохранение
        422:
          description: |
            Ошибки в валидации
            Сервер вернет следующую структуру:
            {'errors': {'name':['Поле имя обязательно для заполнения','Поле некорректно'], email: ['Email некорректен']}
        401:
          description: Нет доступа на запись
  /product_error_message/{id}: 
    delete:
      summary: Удаление сообщения
      parameters:
        - name: id
          in: path
          description: ID сообщения
          type: integer
          required: true
      responses:
        200:
          description: Успешное удаление
  /price_categories:
    get:
      summary: Категории цен
      responses:
        200:
          description: Массив категорий цен
          schema:
            type: array
            items:
              $ref: '#/definitions/Price_category'
  /articles:
    get:
      summary: Список страниц
      description: |
        С помощью функций поиска можно получать страницы по определенной категории.
        Список категорий:
        1. Как это работает для android (ID: 7)
        2. Как это работает для ios (ID: 8)
        Прмер запроса: &search[category_id]=3
        Чтобы увидеть все категории неообходимо сделать следующее:
        1. Зайти на сайт http://api.edavoda.kz
        2. Войти под логином admin@gmail.com (Пароль 12345678)
        3. Перейти на страницу http://edavoda.kz/shop/smypage/page-category
      parameters:
        - name: page
          in: query
          description: № cтраницы
          type: integer
          format: int64
          default: 1
          required: true
        - name: limit
          in: query
          description: Лимит
          type: integer
          format: int64
          default: 30
        - name: search
          in: query
          description: Поиск по параметрам (Пример запроса &search[name]=neededname&search[name]=other value)
          type: array
          items:
            type: array
            items:
              type: string
      responses:
        200:
          description: Массив страниц
          schema:
            type: array
            items:
              $ref: '#/definitions/Article'
  /partners:
    get:
      summary: Список партнеров
      parameters:
        - name: page
          in: query
          description: № cтраницы
          type: integer
          format: int64
          default: 1
          required: true
        - name: limit
          in: query
          description: Лимит
          type: integer
          format: int64
          default: 30
        - name: search
          in: query
          description: Поиск по параметрам (Пример запроса &search[name]=neededname&search[name]=other value)
          type: array
          items:
            type: array
            items:
              type: string
      responses:
        200:
          description: Массив партнеров
          schema:
            type: array
            items:
              $ref: '#/definitions/Partner'
  /dialogs:
    get:
      summary: Диалоги
      parameters:
        - name: page
          in: query
          description: № cтраницы
          type: integer
          format: int64
          default: 1
          required: true
        - name: limit
          in: query
          description: Лимит
          type: integer
          format: int64
          default: 30
        - name: search
          in: query
          description: Поиск по параметрам (Пример запроса &search[name]=neededname&search[name]=other value)
          type: array
          items:
            type: array
            items:
              type: string
      responses:
        200:
          description: Массив диалогов
          schema:
            type: array
            items:
              $ref: '#/definitions/Dialog'
  /dialog/categories:
    get:
      summary: Список категорий диалогов (Не реализован)
      responses:
        200:
          description: Массив категорий диалогов
          schema:
            type: array
            items:
              $ref: '#/definitions/Dialog_category'
  /dialogs/necessary_product:
    post:
      summary: Отправка сообщения всем поставщикам о недостающем товаре
      parameters:
        - name: message
          in: body
          description: ИНформация о сообщении
          required: true
          schema:
            $ref: '#/definitions/Necessary_product_message'
      responses:
        200:
          description: product response
          schema:
            $ref: '#/definitions/Necessary_product_message'
  /dialogs/unread_messages_count:
    get:
      summary: Количество всех непрочитанных сообщений
      responses:
        200:
          description: Количество всех непрочитанных сообщений
          schema:
            type: integer
  /dialogs/unread_messages:
    get:
      summary: Просмотр новых сообщений
      responses:
        200:
          description: массив сообщений
          schema:
            type: array
            items:
              $ref: '#/definitions/Message'
  /dialogs/{id}:
    get:
      summary: Просмотр сообщений в диалоге с ID
      parameters:
        - name: id
          in: path
          description: ID диалога
          required: true
          type: integer
          format: int64
      responses:
        200:
          description: массив сообщений
          schema:
            type: array
            items:
              $ref: '#/definitions/Message'
    post:
      summary: Отправка сообщения
      parameters:
        - name: id
          in: path
          description: ID диалога
          required: true
          type: integer
          format: int64
        - name: message
          in: body
          description: ИНформация о сообщении
          required: true
          schema:
            $ref: '#/definitions/Message'
      responses:
        200:
          description: Успешное сохранение
        422:
          description: |
            Ошибки в валидации
            Сервер вернет следующую структуру:
            {'errors': {'name':['Поле имя обязательно для заполнения','Поле некорректно'], email: ['Email некорректен']}
        401:
          description: Нет доступа на запись
  /dialogs/create_with_provisioner/{id}:
    post:
      summary: Создание диалога
      parameters:
        - name: id
          in: path
          description: ID поставщика
          required: true
          type: integer
          format: int64
        - name: message
          in: body
          description: ИНформация о сообщении
          required: true
          schema:
            $ref: '#/definitions/Message_for_necessary_product'
      responses:
        200:
          description: Успешное создание
  /shops:
    get:
      summary: Магазины
      parameters:
        - name: page
          in: query
          description: № cтраницы
          type: integer
          format: int64
          default: 1
          required: true
        - name: limit
          in: query
          description: Лимит
          type: integer
          format: int64
          default: 30
        - name: search
          in: query
          description: Поиск по параметрам (Пример запроса &search[name]=neededname&search[name]=other value)
          type: array
          items:
            type: array
            items:
              type: string
      responses:
        200:
          description: Массив магазинов
          schema:
            type: array
            items:
              $ref: '#/definitions/Specialization_shop'
  /shop/{id}:
    get:
      summary: Получение информации о магазине
      parameters:
        - name: id
          in: path
          description: ID магазина
          required: true
          type: integer
          format: int64
        - name: action
          in: body
          description: ИНформация о магазине
          required: true
          schema:
            $ref: '#/definitions/Specialization_shop'
      responses:
        200:
          description: Продукт
          schema:
            $ref: '#/definitions/Specialization_shop'
  /actions:
    get:
      summary: Акции
      parameters:
        - name: page
          in: query
          description: № cтраницы
          type: integer
          format: int64
          default: 1
          required: true
        - name: limit
          in: query
          description: Лимит
          type: integer
          format: int64
          default: 30
        - name: search
          in: query
          description: Поиск по параметрам (Пример запроса &search[name]=neededname&search[name]=other value)
          type: array
          items:
            type: array
            items:
              type: string
      responses:
        200:
          description: Массив акций
          schema:
            type: array
            items:
              $ref: '#/definitions/Action'
    post:
      summary: Создание акции
      parameters:
        - name: action
          in: body
          description: ИНформация об акции
          required: true
          schema:
            $ref: '#/definitions/Action'
      responses:
        200:
          description: Успешное сохранение
        422:
          description: |
            Ошибки в валидации
            Сервер вернет следующую структуру:
            {'errors': {'name':['Поле имя обязательно для заполнения','Поле некорректно'], email: ['Email некорректен']}
        401:
          description: Нет доступа на запись
  /action/{id}:
    post:
      summary: Редактирование акции
      parameters:
        - name: id
          in: path
          description: ID акции
          required: true
          type: integer
          format: int64
        - name: action
          in: body
          description: ИНформация о акции
          required: true
          schema:
            $ref: '#/definitions/Action'
      responses:
        200:
          description: Успешное сохранение
        422:
          description: |
            Ошибки в валидации
            Сервер вернет следующую структуру:
            {'errors': {'name':['Поле имя обязательно для заполнения','Поле некорректно'], email: ['Email некорректен']}
        401:
          description: Нет доступа на запись
  /orders:
    get:
      summary: Заказы
      parameters:
        - name: page
          in: query
          description: № cтраницы
          type: integer
          format: int64
          default: 1
          required: true
        - name: limit
          in: query
          description: Лимит
          type: integer
          format: int64
          default: 30
        - name: search
          in: query
          description: Поиск по параметрам (Пример запроса &search[name]=neededname&search[name]=other value)
          type: array
          items:
            type: array
            items:
              type: string
      responses:
        200:
          description: Массив заказов
          schema:
            type: array
            items:
              $ref: '#/definitions/Order'
    post:
      summary: Добавление заказа
      parameters:
        - name: delivery_type_id
          in: formData
          description: Тип доставки
          type: integer
          required: true
        - name: provisioner_id
          in: formData
          description: ID поставщика
          type: integer
          required: true
        - name: pay_type_id
          in: formData
          description: Способ оплаты
          type: integer
          required: true
        - name: comment_shop
          in: formData
          description: Комментарий к заказу
          type: string
          required: true
        - name: products
          in: formData
          type: string
          description: |
            Продукты заказа. Представляют из себя следующую структуру:
            [
              {
                product_id: 3, // ID продукта
                count: 4, // Количество
              },
              ...
              {
                product_id: 3, // ID продукта
                count: 4, // Количество
              }
            ]
      responses:
        200:
          description: Успешное сохранение
        422:
          description: |
            Ошибки в валидации
            Сервер вернет следующую структуру:
            {'errors': {'name':['Поле имя обязательно для заполнения','Поле некорректно'], email: ['Email некорректен']}
        401:
          description: Нет доступа на запись
  /orders/calculate:
    post:
      summary: Просчет корзины продуктов
      parameters:
        - name: action
          in: body
          description: ИНформация о акции
          required: true
          schema:
            $ref: '#/definitions/Order_for_calculate_in'
      responses:
        200:
          description: Результат просчета
          schema:
            $ref: '#/definitions/Order_for_calculate_out'
        422:
          description: |
            Ошибки в валидации
            Сервер вернет следующую структуру:
            {'errors': {'name':['Поле имя обязательно для заполнения','Поле некорректно'], email: ['Email некорректен']}
        401:
          description: Нет доступа на запись
  /order/{id}/change_status:
    post:
      summary: Смена статуса заказа
      parameters:
        - name: id
          in: path
          description: ID заказа
          type: integer
          required: true
        - name: status
          in: formData
          description: Новый статус
          type: integer
          required: true
      responses:
        200:
          description: Успешное изменение
  /order/{id}/change_date:
    post:
      summary: Смена даты поставки
      parameters:
        - name: id
          in: path
          description: ID заказа
          type: integer
          required: true
        - name: status
          in: formData
          description: Новая дата
          type: string
          required: true
      responses:
        200:
          description: Успешное изменение
  /order/{id}/comments:
    get:
      summary: Комментарии к заказу
      parameters:
        - name: id
          in: path
          description: ID заказа
          type: integer
          required: true
        - name: page
          in: query
          description: № cтраницы
          type: integer
          format: int64
          default: 1
          required: true
        - name: limit
          in: query
          description: Лимит
          type: integer
          format: int64
          default: 30
        - name: search
          in: query
          description: Поиск по параметрам (Пример запроса &search[name]=neededname&search[name]=other value)
          type: array
          items:
            type: array
            items:
              type: string
      responses:
        200:
          description: Массив комментариев
          schema:
            type: array
            items:
              $ref: '#/definitions/Order_comment'
  /order/{id}/new_comment:
    post:
      summary: Добавление комментария
      parameters:
        - name: id
          in: path
          description: ID заказа
          type: integer
          required: true
        - name: comment
          in: query
          description: Комментарий
          type: string
          required: true
      responses:
        200:
          description: Успешное сохранение
        422:
          description: |
            Ошибки в валидации
            Сервер вернет следующую структуру:
            {'errors': {'name':['Поле имя обязательно для заполнения','Поле некорректно'], email: ['Email некорректен']}
        401:
          description: Нет доступа на запись
  /order/{id}/product:
    post:
      summary: Добавление товара
      parameters:
        - name: id
          in: path
          description: ID заказа
          type: integer
          required: true
        - name: product_id
          in: formData
          description: ID товара
          type: integer
          required: true
        - name: count
          in: formData
          description: Количество товара
          type: integer
          required: true
      responses:
        200:
          description: Успешное сохранение
    delete:
      summary: Удаление товара из заказа
      parameters:
        - name: id
          in: path
          description: ID заказа
          type: integer
          required: true
        - name: product_id
          in: formData
          description: ID товара
          type: integer
          required: true
      responses:
        200:
          description: Успешное удаление
    put:
      summary: Изменение количества товара
      parameters:
        - name: id
          in: path
          description: ID заказа
          type: integer
          required: true
        - name: product_id
          in: formData
          description: ID товара
          type: integer
          required: true
        - name: count
          in: formData
          description: Количество товара
          type: integer
          required: true
      responses:
        200:
          description: Успешное удаление
  /profile/shop/{id}:
    get:
      summary: Профиль магазина
      parameters:
        - name: id
          in: path
          description: ID магазина
          type: string
          required: true
      responses:
        200:
          description: получение информации
          schema:
            $ref: '#/definitions/Profile_shop'
  /profile/shop:
    post:
      summary: Редактирование профиля
      parameters:
        - name: profile
          in: body
          description: ИНформация о профиле
          required: true
          schema:
            $ref: '#/definitions/Profile_shop'
      responses:
        200:
          description: Успешное сохранение
        422:
          description: |
            Ошибки в валидации
            Сервер вернет следующую структуру:
            {'errors': {'name':['Поле имя обязательно для заполнения','Поле некорректно'], email: ['Email некорректен']}
        401:
          description: Нет доступа на запись
  /profile/provisioner/{id}:
    get:
      summary: Профиль поставщика
      parameters:
        - name: id
          in: path
          description: ID магазина
          type: string
          required: true
      responses:
        200:
          description: получение информации
          schema:
            $ref: '#/definitions/Profile_provisioner'
  /profile/provisioner:
    post:
      summary: Редактирование профиля
      parameters:
        - name: profile
          in: body
          description: ИНформация о профиле
          required: true
          schema:
            $ref: '#/definitions/Profile_provisioner'
      responses:
        200:
          description: Успешное сохранение
        422:
          description: |
            Ошибки в валидации
            Сервер вернет следующую структуру:
            {'errors': {'name':['Поле имя обязательно для заполнения','Поле некорректно'], email: ['Email некорректен']}
        401:
          description: Нет доступа на запись
  /profile/change_password:
    post:
      summary: Смена пароля
      parameters:
        - name: password
          in: body
          description: ИНформация о профиле
          required: true
          schema:
            type: object
            properties:
              old_password:
                description: Старый пароль
                type: string
              new_password:
                description: Новый пароль
                type: string
      responses:
        200:
          description: Успешное сохранение
        422:
          description: |
            Ошибки в валидации
            Сервер вернет следующую структуру:
            {'errors': {'name':['Поле имя обязательно для заполнения','Поле некорректно'], email: ['Email некорректен']}
        401:
          description: Нет доступа на запись
  /shop_managers/{id}:
    get:
      summary: Список сотрудников для пользователя
      parameters:
        - name: id
          in: path
          description: ID сотрудника
          type: string
          required: true
      responses:
        200:
          description: получение информации
          schema:
            type: array
            items:
              $ref: '#/definitions/Profile_shop'
    delete:
      summary: Удаление сотрудника
      parameters:
        - name: id
          in: path
          description: ID сотрудника
          type: string
          required: true
      responses:
        200:
          description: Успешное удаление
  /provisioner_managers/{id}:
    get:
      summary: Список сотрудников для пользователя
      parameters:
        - name: id
          in: path
          description: ID сотрудника
          type: string
          required: true
      responses:
        200:
          description: получение информации
          schema:
            type: array
            items:
              $ref: '#/definitions/Profile_provisioner'
    delete:
      summary: Удаление сотрудника
      parameters:
        - name: id
          in: path
          description: ID сотрудника
          type: string
          required: true
      responses:
        200:
          description: Успешное удаление

definitions:
  Product:
    type: object
    properties:
      id:
        type: integer
        description: Уникальный ID
      sku:
        type: string
        description: Артикул продукта
      title:
        type: string
        description: Название
      image:
        type: string
        description: Превью товара (для списка). Размером 100x100px
      category_id:
        type: integer
        description: ID категории
      specialization_producer_id:
        type: integer
        description: ID подразделения поставщика
      brand_id:
        type: integer
        description: ID бренда
      attributes:
        type: array
        description: Атрибуты
        items:
          $ref: '#/definitions/Product_attribute'
      description:
        type: string
        description: Описание
      photos:
        type: array
        description: Фотографии
        items:
          $ref: '#/definitions/Product_image'
      prices:
        type: array
        items:
          $ref: '#/definitions/Price_item'
      actions:
        type: array
        description: ID акций в которых участвует этот товар
        items:
          type: string
  Product_attribute:
    type: object
    description: Атрибут товара
    properties:
      filter_id:
        type: integer
        description: ID атрибута
      value:
        type: string
        description: Значение атрибута
  Filter_item:
    type: object
    description: Тип атрибута
    properties:
      id:
        type: integer
        description: Уникальный ID
      name:
        type: string
        description: Название
      unit:
        type: string
        description: Еденицы
      value:
        type: array
        items:
          type: string
          description: Возможные значения
  Price_category:
    type: object
    properties:
      id:
        type: integer
        description: Уникальный ID
      name:
        type: string
        description: Название категории цен
  Product_image:
    type: object
    description: Изображение продукта
    properties:
      small:
        type: string
        description: Среднее изображение размером ограниченное по ширине и высоте в 320x320
      medium:
        type: string
        description: Среднее изображение размером ограниченное по ширине и высоте в 700x700
      big:
        type: string
        description: Большое изображение размером ограниченное по ширине и высоте в 1000x1000
      original:
        type: string
        description: Оригинальное изображение
  Price_item:
    type: object
    properties:
      id:
        type: integer
        description: Уникальный ID
      price_category_id:
        type: integer
        description: Категория цен
      price:
        type: string
        description: Цена
  Category:
    type: object
    properties:
      id:
        type: integer
        description: Уникальный ID
      title:
        type: string
        description: Название
      parent_id:
        type: integer
        description: ID категории
      image:
        type: string
        description: Изображение категории
      filters:
        type: array
        description: Необходимо проработать
        items:
            type: array
            items:
              $ref: '#/definitions/Category_filter'
      actions:
        type: array
        description: ID акций в которых участвует этот товар
        items:
          type: string
  Category_filter:
    type: object
    properties:
      id:
        type: integer
        description: Уникальный ID
      title:
        type: string
        description: Описание фильтра
      attribute_id:
        type: string
        description: ID атрибута для фильтрации
  Brand:
    type: object
    properties:
      id:
        type: integer
        description: Уникальный ID
      title:
        type: string
        description: Название
      image:
        type: string
        description: Image URL representing the product.
  Payment_method:
    type: object
    properties:
      id:
        type: integer
        description: Уникальный ID
      name:
        type: string
        description: Название
      status:
        type: string
        description: Статус (Неважное поле)
  Article:
    type: object
    properties:
      id:
        type: integer
        description: Уникальный ID
      created_at:
        type: integer
        description: Дата
      title:
        type: string
        description: Название
      description:
        type: string
        description: Описание
      text:
        type: string
        description: Текст
      category_id:
        type: integer
        description: ID категории
  Partner:
    type: object
    properties:
      id:
        type: integer
        description: Уникальный ID
      title:
        type: string
        description: Название
      description:
        type: string
        description: Описание
      link:
        type: string
        description: Ссылка
  Dialog:
    type: object
    properties:
      id:
        type: integer
        description: Уникальный ID
      subject:
        type: string
        description: Тема диалога. Может быть пустой
      partner:
        type: string
        description: Имя собеседника

  Dialog_category:
    type: object
    properties:
      id:
        type: integer
        description: Уникальный ID
      created_at:
        type: integer
        description: Дата создания
      name:
        type: string
        description: Название категории
  Necessary_product_message:
    type: object
    properties:
      message:
        type: string
        description: Текст сообщения
  Message:
    type: object
    properties:
      id:
        type: integer
        description: Уникальный ID
      created_at:
        type: integer
        description: Дата создания
      dialog_id:
        type: integer
        description: ID диалога
      author_id:
        type: integer
        description: ID автора
      viewed_at:
        type: string
        description: Просмотрено в
      message:
        type: string
        description: Текст сообщения
  Message_for_necessary_product:
    type: object
    properties:
      message:
        type: string
        description: Текст сообщения
  Action:
    type: object
    properties:
      type:
        type: integer
        description: Тип
      specialization_producer_id:
        type: integer
        description: ID Поставщик
      name:
        type: integer
        description: Наименование
      description:
        type: integer
        description: Описание
      start_time:
        type: integer
        description: Время начала
      end_time:
        type: integer
        description: Время конца
      product_ids:
        type: array
        description: Массив продуктов участвующих в акции
        items:
          type: integer
          description: ID продуктов
      category_ids:
        type: array
        description: Массив категорий
        items:
          type: integer
          description: ID категории
      discount:
        type: integer
        description: Скидка
      discount_type:
        type: integer
        description: Тип скидки
      from_sum:
        type: integer
        description: От суммы
      gift_ids:
        type: array
        description: Массив подарочных продуктов
        items:
          type: integer
          description: ID продукта
  Specialization_shop:
    type: object
    properties:
      id:
        type: integer
        description: Уникальный ID
      created_at:
        type: integer
        description: Дата создания
      title:
        type: string
        description: Название магазина
      phone:
        type: string
        description: Телефон
      address:
        type: string
        description: Адрес
      skype:
        type: string
        description: Skype
      email:
        type: string
        description: Email
      latitude:
        type: integer
        description: Широта карты
      longitude:
        type: integer
        description: Долгота карты
      zoom:
        type: integer
        description: Зум карты
      shop_id:
        type: integer
        description: ID магазина
      district_id:
        type: integer
        description: ID района
  Specialization_producer:
    type: object
    properties:
      id:
        type: integer
        description: Уникальный ID
      created_at:
        type: integer
        description: Дата создания
      title:
        type: string
        description: Название магазина
      phone:
        type: string
        description: Телефон
      address:
        type: string
        description: Адрес
      skype:
        type: string
        description: Skype
      email:
        type: string
        description: Email
      latitude:
        type: integer
        description: Широта карты
      longitude:
        type: integer
        description: Долгота карты
      zoom:
        type: integer
        description: Зум карты
      shop_id:
        type: integer
        description: ID магазина
      district_id:
        type: integer
        description: ID района
      categories:
        type: array
        description: Список состоящий из ID категорий, в которых присутствуют товары поставщика
      brands:
        type: array
        description: Список состоящий из ID брендов, которе имеют товары поставщика
      is_delivers_to_you:
        type: boolean
        description: Свойство показывает, доставляет ли поставщик товары по адресу текущего пользователя
  Order:
    type: object
    properties:
      id:
        type: integer
        description: Уникальный ID
      specialization_producer_id:
        type: integer
        description: ID подразделения поставщика
      shop_id:
        type: integer
        description: ID магазина
      specialization_shop_id:
        type: integer
        description: ID торговой точки
      status:
        type: integer
        description: |
          Статус заказа в целочисленом виде
          Существуют следующие статусы:
            1 Новый заказ
            2 В работе
            3 Доставка
            4 Выполены
            5 Отменены
      producer_information:
        type: string
        description: Информация о поставщике
      shop_information:
        type: string
        description: Информация о магазине
      price:
        type: integer
        description: Сумма заказа
      order date:
        type: string
        description: Дата заказа
      date_of_delivery:
        type: string
        description: Дата поставки
  Order_for_calculate_in:
    type: object
    description: Объект для просчета
    properties:
      provisioner_id:
        type: integer
        description: ID поставщика, к которому относится заказ
      products:
        type: array
        description: Продукты для просчета
        items:
          type: object
          properties:
            product_id:
              type: string
              description: ID продукта
            count:
              type: string
              description: Количество
  Order_for_calculate_out:
    type: object
    description: Объект с просчитаными ценами
    properties:
      products:
        type: array
        description: Продукты для просчета
        items:
          type: object
          properties:
            product_id:
              type: string
              description: ID продукта
            price:
              type: string
              description: Цена за еденицу товара
            amount:
              type: string
              description: Общая цена
            count:
              type: string
              description: Количество
      delivery_price:
        type: integer
        description: Цена доставки
      total:
        type: integer
        description: Общая цена
  Order_comment:
    type: object
    description: Комментарий к заказу
    properties:
      id:
        type: integer
        description: Уникальный ID
      user_name:
        type: string
        description: Имя отправителя
      count:
        type: string
        description: Количество
      price:
        type: integer
        description: Цена
  Profile_shop:
    type: object
    properties:
      id:
        type: integer
        description: Уникальный ID
      image:
        type: string
        description: Изображение
      balance:
        type: integer
        description: Баланс
      username:
        type: string
        description: Username
      specializations-producer:
        type: array
        description: |
          Подразделение для поставщика
          Массив вида:
          [
            {
              'id': 1,
              'name': 'asd'
            },
            {
              'id': 2,
              'name': 'asd2'
            }
          ]
      specializations-shop:
        type: array
        description: |
          Подразделение для магазина
          Массив вида:
          [
            {
              'id': 1,
              'name': 'asd'
            },
            {
              'id': 2,
              'name': 'asd2'
            }
          ]
  
      position_id:
        type: integer
        description: Должность
      iin:
        type: string
        description: ИИН
      fio:
        type: string
        description: ФИО Рукводителя
      mobile_phone:
        type: string
        description: Мобильный телефон
      work_phone:
        type: string
        description: Рабочий телефон
      comments:
        type: string
        description: Комментарий
      email:
        type: string
        description: Email
      address:
        type: string
        description: Адрес
  Profile_provisioner:
    type: object
    properties:
      id:
        type: integer
        description: Уникальный ID
      image:
        type: string
        description: Изображение
      balance:
        type: integer
        description: Баланс
      username:
        type: string
        description: Username
      specializations-producer:
        type: array
        description: |
          Подразделение для поставщика
          Массив вида:
          [
            {
              'id': 1,
              'name': 'asd'
            },
            {
              'id': 2,
              'name': 'asd2'
            }
          ]
      position_id:
        type: integer
        description: Должность
      iin:
        type: string
        description: ИИН
      fio:
        type: string
        description: ФИО Рукводителя
      mobile_phone:
        type: string
        description: Мобильный телефон
      work_phone:
        type: string
        description: Рабочий телефон
      comments:
        type: string
        description: Комментарий
      email:
        type: string
        description: Email
      address:
        type: string
        description: Адрес
  User_for_authorization:
    type: object
    properties:
      role:
        type: string
        description: Роль (shop или producer)
      type:
        type: integer
        description: Тип
      name:
        type: string
        description: Наименование
      password:
        type: string
        description: Пароль
      email:
        type: string
        description: Email
      fio:
        type: string
        description: ФИО
      iin:
        type: string
        description: ИИН
      mobile_phone:
        type: string
        description: Мобильный телефон
      work_phone:
        type: string
        description: Рабочий телефон
      comment:
        type: string
        description: Комментарий
      address:
        type: string
        description: Адрес
      latitude:
        type: integer
        description: Широта карты
      longitude:
        type: integer
        description: Долгота карты